.functions-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;

    .back-button {
        grid-column: 1 / span 2;
    }

    .function-button {
        width: 180px;
        height: 180px;
        font-size: .9em;
    }
}
